.main-container{
  padding: 2em;
}
.main-container .input{
  height: 28px;
  border: none;
  border-bottom: 1px solid black;
  margin: 1em;
}
.main-container .input:focus{
  outline: none;
}
.main-container .submit-btn{
  height: 32px;
  background: rgb(51, 102, 204);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.main-container .submit-btn:disabled{
  background: rgba(16, 16, 16, 0.3);
}